:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #eeeeee;
  background-color: #222831;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  background: #00adb5;
  font-weight: 600;
  padding: 0.6rem;
}

button:hover {
  background: #079ba3;
}

input {
  border: none;
  padding: auto;
  display: block;
  background: none;
}

input:focus {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f1f1f1;
  }
  button {
    color: #eeeeee;
  }
}
