.task {
  display: flex;
  gap: 0.6rem;
  padding: 0.6rem;
  background: #393e46;
  border-radius: 0.6rem;
}

.title {
  font-weight: 600;
  border-bottom: 1px solid;
}

@media (prefers-color-scheme: light) {
  .task {
    background: #fefcf3;
  }
}
